$primary-color: #465d72;
$second-bg-color:#16d5b8;

/*=== Gray ===*/
a, a:hover{
  color: $primary-color;
}
.topbar{
  border-top:1px solid $primary-color;
  background-color: $primary-color;
}
.header .navbar-default .navbar-nav li a:hover {
  color: $primary-color;
}
.header .navbar-default .navbar-nav .active a, 
.header .navbar-default .navbar-nav .active a:hover, 
.header .navbar-default .navbar-nav .active a:focus {
  color: $primary-color;
}
.header .navbar-nav li.open .dropdown-menu li a:hover, 
.header .navbar-nav li.open .dropdown-menu li a:focus,
.header .navbar-nav  li.dropdown .dropdown-menu li a:hover,
.header .navbar-nav  li.dropdown .dropdown-menu li a:focus{
  color: $primary-color!important;
}
.header .navbar-nav li.open .dropdown-menu li.active a {
  color: $primary-color!important;
}
.captionLink, .captionLink:hover {
  background-color: $primary-color;
}
.learnBtn {
  border: 1px solid $primary-color;
  background: $primary-color;
}
.flex-control-paging li a.flex-active {
  background: $primary-color;
}
.related_post_sec a.more_post {
  border: 1px solid $primary-color;
}
.courses_right_inner th {
  background: $primary-color;
}
.courses_right_inner td ul li.active a {
  color: $primary-color;
}
.courses_right_inner td a:hover {
  color: $primary-color;
}
.pagination > li > a, .pagination > li > span {
  border: 1px solid $primary-color;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  border-color: $primary-color;
  background: $primary-color;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  border-color: $primary-color;
  background: $primary-color;
}
.courses_left_inner ul li a:hover, .courses_left_inner ul li a:focus {
  color: $primary-color;
}
.courses_left_inner ul li.active a {
  color: $primary-color;
}
.item_inner a.fees {
  color: $primary-color;
}
.sidebar_item.admission .item_inner.program ul li a {
  color: $primary-color;
}
#single_banner .flex-control-paging li a.flex-active {
  background: $primary-color;
}
.item_inner.slider .flex-direction-nav a {
  border: 1px solid $primary-color;
}
.item_inner.question a {
  color: $primary-color;
}
.tab_menu > ul li a:hover {
  background: $primary-color;
  border-color: $primary-color !important;
}
.tab_menu > ul li.active a {
  background: $primary-color;
  border-color: $primary-color !important;
}
.tab_menu > ul li.active a::after, .tab_menu > ul li a:hover::after {
  border-top: 10px solid $primary-color;
}
.fc-center h2 {
  color: $primary-color;
}
.fc-event-container a.more {
  color: $primary-color;
}
.carousel-indicators li.active {
  background: $primary-color;
}
ul.contact_info li .fa {
  color: $primary-color;
}
ul.contact_info li a:hover {
  color: $primary-color;
}
.error-content a {
  color:$primary-color;
}
.price-title{
  background: $primary-color;
}

@media (max-width: 767px) {
  .header .navbar-default .navbar-nav li.apply_now a:hover {
    color: $primary-color;
  }
  .header .navbar-nav li.open .dropdown-menu li a:hover, .header .navbar-nav li.open .dropdown-menu li a:focus {
    color: $primary-color;
  }
}

/*=== Green ===*/
.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  border: 1px solid $second-bg-color;
  background: $second-bg-color;
}
.caption_inner a {
  background: $second-bg-color;
}
.features ul li:hover i {
  color: $second-bg-color;
}
.content_top .content_left ul li:before {
  color: $second-bg-color;
}
.thumb_title .author_designation a {
  color: $second-bg-color;
}
.meta span a {
  color: $second-bg-color;
}
.post_bottom ul li a span {
  background: $second-bg-color;
}
.list_block {
  border-top: 3px solid $second-bg-color;
}
.rel_right span.date a {
  color: $second-bg-color;
}
.form-control:focus {
  border-color: $second-bg-color;
}
.commonBtn, .commonBtn:hover {
  background-color: $second-bg-color;
  border-color: $second-bg-color;
}
.commonBtn:hover, .commonBtn:focus {
  background-color: $second-bg-color!important;
}
.formArea, .getArea {
  border-top: 3px solid $second-bg-color;
}
.block_quate {
  border-left: 4px solid $second-bg-color;
}
.sidebar_item {
  border-top: 3px solid $second-bg-color;
}
.upcoming_events ul li:hover span.date {
  color: $second-bg-color;
}
.event_calendar {
  border-top: 3px solid $second-bg-color;
}


@media (min-width: 768px) {
  .header .navbar-default .navbar-nav li.apply_now a {
    background: $second-bg-color !important;
  }
  .header .navbar-default .navbar-nav li.apply_now a:hover {
    background: $second-bg-color !important;
  }
}